/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial';
}

/* Set background image */
.background {
    background-image: url("./assets/background image 2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    padding: 30px;
    max-width: 350px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: bold;
    transition: background-color 0.25s;
}

button:hover {
    background-color: rgba(0, 0, 255, 0.8);
}
